.home {
    width: 100%;
    background-color: white;
    text-align: center;
    background-color: #141515;
}
.home, h1 {
    position: relative;
    top: 75px;
    color: white;
    font-size: 50px;
}