.weekContainer{
  width: 85%;
}

.PieContainer{
  position: relative;
  top: 40px;
  left: 35px;
  width: 60%;
  max-width: 600px;
}


.weekOpener {
  position: relative;
  top: 25px;
  left: 35px;
  padding: none;
}

.weekP{
  position: relative;
  left: 35px;
  width: 70%;
  font-family: 'Roboto';
}