
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    background:rgba(0, 0, 0, 0.75);
    margin: 10px 20px 0px 10px;
    border-radius: 10%;
    border: .5px solid black;
}

.hp-left{
    color: white;
    font-family: 'roboto';
    padding: 0 10px 0 70px;
    text-transform: uppercase;
}


.hp-right{
    color: white;
    padding: 0 50px
}