

.header {
    display: flex;
    justify-content: space-between;
    width: 99%vw;
    height: fit-content;
    background-color: #37393A;
    margin: 10px 20px 0px 10px;
    border-radius: 10px;
    
}

.hp-left{
    color: white;
    font-family: 'roboto';
    padding: 0 10px 0 70px;
    text-transform: uppercase;
}


.hp-right{
    color: white;
    padding: 0 50px;
    font-family: 'roboto';
}