
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    background-color: rgb(158, 158, 158);
}

.hp-left{
    color: white;
    padding: 0 10px 0 70px;
    text-transform: uppercase;
}


.hp-right{
    color: white;
    padding: 0 50px
}