
.nav-bar{
        max-width:300px;
        background:rgba(0, 0, 0, 0.75);
        margin:10px 0 0 10px;
        border-radius: 2%;
        padding:15px 0px 20px 0px;
        border: .5px solid black;
        width: 250px;
        box-shadow:0px 4px 5px rgba(0, 0, 0, 0.75);
        height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
    margin: 50px 0px 0px 20px;
    width: 100%;
    align-items: center

    
}

li {
    padding: 40px 30px 0 0px;
    margin: none;
    border-top: .5px solid white;
    border-bottom: .5px solid white;
    align-content: center;
    
}
.link {
    text-decoration: none;
    font-family: 'Roboto';
    font-size:16px;
   font-weight:300;
   text-align:center;
   position:relative;
   height:40px;
   line-height:40px;
   margin-top:10px;
   overflow:hidden;
   width:90%;
   margin-left:5%;
   cursor:pointer;
   color: white;
}
